<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Open Fogbugz Issue</string>
	<key>Extension Identifier</key>
	<string>com.jamessulak.com.fogbugz-issue</string>
	<key>Extension Description</key>
	<string>Open Issue in Fogbugz.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>open.sh</string>
			<key>Title</key>
			<string>Fogbugz</string>
			<key>Regular Expression</key>
			<string>^(FB|BUGZID(:)?)?[0-9]{4,5}$</string>
		</dict>
	</array>
</dict>
</plist>
